<div class="hero">
    <!-- <canvas id="canvas-dots" class="canvas-dots"></canvas> -->
    <div particles></div>
    <div class="hero-overlay">
        <div class="hero-inner">
            <!-- {{ 'HERO_1' | translate }} <span>{{ 'HERO_2' | translate }}</span> {{ 'HERO_3' | translate }}<br /> -->

            <div class="container">
                <img class="hero-me" src="images/me.jpg" alt="Hey, this is me">
                <div class="hero-bio">
                    <h1>{{ 'HERO_NAME' | translate }}</h1>
                    <h2>{{ 'HERO_DESC' | translate }}</h2>
                    <hr>
                    <p>{{ 'HERO_BIO' | translate }}</p>
                    <a ui-sref="contact" class="btn btn-danger btn-lg call-to-action">{{ 'CTA' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h1><span>{{ 'PROJECTS' | translate }}</span></h1>
<div class="container content is-hero projects">
    <projects-grid></projects-grid>
</div>

<h1><span>{{ 'CONTACT' | translate }}</span></h1>
<div class="container content is-hero contact">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <contact-form></contact-form>
        </div>
    </div>
</div>
</div>
