<div class="hero">
    <canvas id="canvas-dots" class="canvas-dots"></canvas>
    <div class="hero-overlay">
        <div class="hero-inner">
            Ahoj, volám sa Filip a vytvorím Vám <span>profesionálne</span> webstránky.<br />

            <a ui-sref="contact" class="btn btn-danger btn-lg call-to-action">Začať projekt</a>
        </div>
    </div>
</div>

<h1><span>Projekty</span></h1>
<div class="container content is-hero projects">
    <ul class="grid project-preview">
        <li>
            <figure>
                <img src="http://placehold.it/400x300" class="img-fluid" alt="img01">
                <figcaption>
                    <h3>Camera</h3>
                    <span>Jacob Cummings</span>
                    <a class="btn btn-secondary btn-sm" href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="http://placehold.it/400x300" class="img-fluid" alt="img01">
                <figcaption>
                    <h3>Camera</h3>
                    <span>Jacob Cummings</span>
                    <a class="btn btn-secondary btn-sm" href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="http://placehold.it/400x300" class="img-fluid" alt="img01">
                <figcaption>
                    <h3>Camera</h3>
                    <span>Jacob Cummings</span>
                    <a class="btn btn-secondary btn-sm" href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
                </figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="http://placehold.it/400x300" class="img-fluid" alt="img01">
                <figcaption>
                    <h3>Camera</h3>
                    <span>Jacob Cummings</span>
                    <a class="btn btn-secondary btn-sm" href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>

<h1><span>Kontakt</span></h1>
<div class="container content is-hero contact">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <contact-form></contact-form>
        </div>
    </div>
</div>
</div>
