@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:400,300&subset=latin,latin-ext);

@import "font-awesome";
@import "variables";
@import "bootstrap-flex";
@import "image-grid";

*::selection {
    color: $body-bg;
    background-color: $brand-danger;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
}

h1 {
    font-family: $font-family-bold;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;

    margin: 30px 0 60px 0;

    span {
        background: $gray-dark;
        text-transform: uppercase;
        color: $body-bg;
        padding: 10px 6px 10px 14px; // subtract letter spacing
        display: inline-block;
        letter-spacing: 8px;
    }
}

.content {
    margin-top: 100px;

    &.is-hero {
        margin-top: 70px;
    }
}

.canvas-dots {
    position: absolute;
    pointer-events: none;
}

.hero {
    background: #040404 no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;

    .hero-overlay {
        width: 100%;
        height: 100%;

        display:flex;
        justify-content:center;
        align-items:center;
        text-align: center;

        .hero-inner {
            font-size: 24px;
            color: $body-bg;
            padding: 20px;

            span {
                padding: 4px 4px 4px 6px;
                color: $gray-dark;
                background: $body-bg;
                letter-spacing: 2px;
                margin-right: 2px;
            }

            .call-to-action {
                margin-top: 10vh;
            }
        }
    }
}

.footer-margin {
    margin-top: $footer-height + 40px;
}

footer {
    height: $footer-height;
    background: $gray-dark;
    color: $body-bg;

    padding: 40px 0;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    position: relative;

    transition: all 0.2s ease-in-out;
}

.call-to-action {
    color: #fff;
    box-shadow: 0 8px darken($brand-danger, 30%);
    top: 0;
}

.call-to-action:hover {
    box-shadow: 0 6px darken($brand-danger, 30%);
    top: 2px;
}

.call-to-action:active {
    box-shadow: 0 0 darken($brand-danger, 30%);
    top: 8px;
}

.project-preview figure img {
    z-index: 10;
    transition: transform 0.4s;
}

.project-preview figure:hover img {
    transform: translateY(-50px) scale(0.5);
}

.project-preview figure:hover figcaption {
    display: block;
}

.project-preview figcaption {
    height: 100%;
    width: 100%;
}

.project-preview figcaption h3 {
    margin-top: 60%;
}

.project-preview figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
