@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:400,300&subset=latin,latin-ext);

@import "font-awesome";
@import "variables";
@import "bootstrap-flex";
@import "image-grid";

::selection {
    color: $body-bg;
    background-color: $brand-danger;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
    transition: opacity 0.3s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    opacity: 1;
}

[ui-view].ng-leave-active {
    opacity: 0;
}

// Nuke Chrome autocomplete styles from orbit
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition-property: background-color, color;
}

a {
    transition: all 0.2s ease-in-out;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: $footer-height;
}

h1, h2, h3 {
    font-family: $font-family-bold;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;

    margin: 5vh 0;

    span {
        background: $gray-dark;
        text-transform: uppercase;
        color: $body-bg;
        padding: 10px 6px 10px 14px; // subtract letter spacing
        display: inline-block;
        letter-spacing: 8px;
    }
}

.navbar-toggler {
    color: $body-bg;
}

.content {
    margin-top: 100px;

    &.is-hero {
        margin-top: 0;
    }
}

.canvas-dots {
    position: absolute;
    pointer-events: none;
}

.language-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: -5px;
    margin-right: 5px;
}

.hero {
    background: #040404 no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;

    .hero-overlay {
        width: 100%;
        height: 100%;

        display:flex;
        justify-content:center;
        align-items:center;

        .hero-inner {
            color: $body-bg;
            padding: 20px;
            width: 100%;

            .hero-bio {
                margin-left: 50px;
                max-width: 40%;

                h1 {
                    padding: 4px 6px 4px 8px;
                    color: $gray-dark;
                    background: $body-bg;
                    letter-spacing: 2px;
                    margin-right: 2px;
                    text-align: left;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                hr {
                    width: 40%;
                    margin-left: 0;
                    background-color: fade-out($body-bg, 0.4);
                }

                h2 {
                    text-align: left;
                    margin: 20px 0;
                }

                p {
                    font-size: 16px;
                }
            }

            .hero-me {
                width: 250px;
                height: 250px;
                border-radius: 100%;
                box-shadow: 0 10px 20px #000;
                float: right;
                margin-top: 50px;
                margin-right: 50px;
            }

            .call-to-action {
                margin-top: 30px;
            }
        }
    }
}

.footer-margin {
    margin-top: $footer-height + 40px;
}

footer {
    height: $footer-height;
    background: $gray-dark;
    color: $body-bg;

    padding: 40px 0;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.list-social {
    li {
        a {
            color: $body-bg;
            padding: 4px 6px;

            &:hover {
                color: $gray-dark;
                background: $body-bg;
                text-decoration: none;
            }
        }
    }
}

.checkbox-inline-wrapper {
    margin: 2px 10px;
}

.btn {
    position: relative;

    transition: all 0.2s ease-in-out;
}

.call-to-action {
    color: #fff;
    box-shadow: 0 8px darken($brand-danger, 30%);
    top: 0;
}

.call-to-action:hover {
    box-shadow: 0 6px darken($brand-danger, 30%);
    top: 2px;
}

.call-to-action:active {
    box-shadow: 0 0 darken($brand-danger, 30%);
    top: 8px;
}
