<div class="contact-form">
    <p>Ste pripravení začať Váš projekt alebo máte nejakú otázku?
        Porozprávajme sa o Vašom nápade. Rád prichádzam na prvé stretnutie pripravený a preto by som niečo rád vedel čo najviac detailov o vašom projekte vopred.
        Čím viac informácií mi poskytnete, tým rýchlejsie budem pre Vás vedieť nájsť ideálne riešenie.</p>

    <form>
        <fieldset class="form-group">
            <label for="contactName">Meno *</label>
            <input type="text" class="form-control" id="contactName">
        </fieldset>

        <fieldset class="form-group">
            <label for="contactEmail">Email *</label>
            <input type="email" class="form-control" id="contactEmail">
        </fieldset>

        <fieldset class="form-group">
            <label for="contactCompany">Názov spoločnosti</label>
            <input type="text" class="form-control" id="contactCompany">
        </fieldset>

        <fieldset class="form-group">
            <label for="contactProjectType">Typ projektu</label><br />
            <div class="checkbox-inline-wrapper">
                <label class="checkbox-inline">
                    <input type="checkbox" id="projectWebdesign" value="option1"> Web Dizajn
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="projectDevelopment" value="option1"> Development
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="projectEcommerce" value="option1"> E-commerce
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="projectSeo" value="option1"> SEO
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="projectOther" value="option1"> Iné
                </label>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label for="contactBudget">Rozpočet (v €)</label>
            <input type="number" class="form-control" id="contactBudget">
        </fieldset>

        <fieldset class="form-group">
            <label for="contactMessage">Správa *</label>
            <textarea class="form-control" id="contactMessage" rows="3"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary">Odoslať</button>
    </form>
</div>
