<div class="contact-form">
    <p>Ste pripravení začať Váš projekt alebo máte nejakú otázku?
        Porozprávajme sa o Vašom nápade. Rád prichádzam na prvé stretnutie pripravený a preto by som niečo rád vedel čo najviac detailov o vašom projekte vopred.
        Čím viac informácií mi poskytnete, tým rýchlejsie budem pre Vás vedieť nájsť ideálne riešenie.</p>

    <form novalidate ng-submit="vm.submit()" ng-if="!vm.sent" name="contactForm">
        <fieldset class="form-group" form-errors>
            <label class="form-control-label" for="contactName">Meno *</label>
            <input type="text" name="contactName" class="form-control" ng-model="vm.contact.name" required>
        </fieldset>

        <fieldset class="form-group" form-errors>
            <label class="form-control-label" for="contactEmail">Email *</label>
            <input type="email" name="contactEmail" class="form-control" ng-model="vm.contact.email" required>
        </fieldset>

        <fieldset class="form-group" form-errors>
            <label class="form-control-label" for="contactCompany">Názov spoločnosti</label>
            <input type="text" name="contactCompany" class="form-control" ng-model="vm.contact.company">
        </fieldset>

        <fieldset class="form-group">
            <label class="form-control-label" for="contactProjectType">Typ projektu</label><br />
            <div class="checkbox-inline-wrapper">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.contact.project.webdesign" value="1"> Web Dizajn
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.contact.project.development" value="1"> Development
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.contact.project.ecommerce" value="1"> E-commerce
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.contact.project.seo" value="1"> SEO
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="vm.contact.project.other" value="1"> Iné
                </label>
            </div>
        </fieldset>

        <fieldset class="form-group" form-errors>
            <label class="form-control-label" for="contactBudget">Rozpočet (v €)</label>
            <input type="number" name="contactBudget" class="form-control" ng-model="vm.contact.budget">
        </fieldset>

        <fieldset class="form-group" form-errors>
            <label class="form-control-label" for="contactMessage">Správa *</label>
            <textarea class="form-control" name="contactMessage" ng-model="vm.contact.message" rows="3" required></textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-disabled="vm.loading || contactForm.$invalid">
            <i ng-if="vm.loading" class="fa fa-spinner fa-pulse"></i> Odoslať
        </button>
    </form>

    <div class="alert alert-success" ng-if="vm.sent">
        Úspešne odoslané.
    </div>

    <div class="alert alert-danger" ng-if="vm.error">
        Chyba pri odosielaní. Kontaktujte ma prosím na flp.hajek@gmail.com
    </div>
</div>
