<ul class="grid project-preview">
    <li>
        <figure>
            <img src="images/edocu_t.jpg" class="img-fluid" alt="eDocu">
            <figcaption>
                <h3>eDocu</h3>
                <span>{{ 'EDOCU_SPEC' | translate }}</span>
                <a class="btn btn-secondary btn-sm" ui-sref="project({id: 'edocu'})">{{ 'DETAILS' | translate }}</a>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <img src="images/readditing_t.jpg" class="img-fluid" alt="Readditing">
            <figcaption>
                <h3>Readditing</h3>
                <span>{{ 'PERSONAL_PROJECT' | translate }}</span>
                <a class="btn btn-secondary btn-sm" ui-sref="project({id: 'readditing'})">{{ 'DETAILS' | translate }}</a>
            </figcaption>
        </figure>
    </li>
</ul>
